table,th,td {
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	border: 1px solid #2a2a2a;
	font-weight: bold;
}

th{
	background-color: orange;
	font-weight: bold;
}
th:hover{
	background-color: rgb(219, 145, 8);
	color: rgb(131, 105, 57);
}

/* ----- CLASS TABLE ----- */
td:first-child{
	background-color: pink;
}
td:nth-child(2){
	background-color:rgb(132, 132, 255);
}
td:nth-child(3){
	background-color: #70fca5;
}
td:nth-child(4){
	background-color: #fcfa70;
}
td:nth-child(5){
	background-color: #bc92ff;
}
/* ------- HOVER ------- */
td:first-child:hover{
	background-color: rgb(240, 164, 176);
	color: #4c4c4c;
}
td:nth-child(2):hover{
	background-color:rgb(124, 124, 240);
	color: #4c4c4c;
}
td:nth-child(3):hover{
	background-color: #63e796;
	color: #4c4c4c;
}
td:nth-child(4):hover{
	background-color: #e7e562;
	color: #4c4c4c;
}
td:nth-child(5):hover{
	background-color: #a67ce9;
	color: #4c4c4c;
}
tr:hover{
	border: 3px dotted #fffefe;
}
td:hover{
	border: 5px dotted #f09191;
}
th:hover{
	border: 5px dotted #f09191;
}